.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    border-radius: 15px;
  }
  
  .card-header {
    border-radius: 15px 15px 0 0;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn-secondary {
    width: 100%;
    border-radius: 5px;
  }
  